.appContainer {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background-image: url('../images/backg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

h3 {
  text-align: center;
}

.tileSpan {
  padding-right: 10%;
}

.tileWrapper {
  padding: 1%;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  text-align: center;
  margin: 0 auto;
}

.tileStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 4%;
  cursor: pointer;
  color: black;
  background-color: rgb(163, 163, 163);
}

@keyframes fadein {
  10% {
    opacity:1;
  }
  50% {
      opacity:0.2;
  }
  75% {
    opacity:0.4;
  }
  100% {
    opacity: 0.6;
  }
}
@-moz-keyframes fadein {
  10% {
    opacity:1;
  }
  50% {
      opacity:0.2;
  }
  75% {
    opacity:0.4;
  }
  100% {
    opacity: 0.6;
  }
}
@-webkit-keyframes fadein {
  10% {
      opacity:1;
  }
  50% {
      opacity:0.2;
  }
  75% {
    opacity:0.4;
  }
  100% {
    opacity: 0.6;
  }
}
@-o-keyframes fadein { 
  10% {
    opacity:1;
  }
  50% {
      opacity:0.2;
  }
  75% {
    opacity:0.4;
  }
  100% {
    opacity: 0.6;
  }
}

.clickedTile {
  color: black;
  background: rgb(114, 199, 255);
  animation: fadein 2s;
  -moz-animation: fadein 2s; 
  -webkit-animation: fadein 2s; 
  -o-animation: fadein 2s; 
  -webkit-animation-fill-mode: forwards; 
  -moz-animation-fill-mode: forwards;  
  -o-animation-fill-mode: forwards;   
  -ms-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
}

.disableClickEvent {
  pointer-events: none;
  cursor: default;
  color: rgba(0,0,0,0.5);
}

.cupContainer {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  /* margin-top: 5%; */
  /* border: 1px solid blue; */
}

.bingoBoxDiv {
  /* border: 1px solid red; */
  width: 60%;
  height: 30%;
  margin: 0 auto;
  font-size: 2em;
}

.overlayScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  visibility: hidden;
}

.overlayScreenDisplay {
  visibility: visible;
  /* transition: visibility 0s, opacity 5s linear; */
}

.imageOverlayScreen {
  margin: 6%;
  width: 35%;
  height: 50%;
  /* transition: visibility 0s, opacity 5s linear; */
}

@media screen 
and (min-device-width: 200px) 
and (max-device-width: 640px) {

  .tileWrapper {
    width: 90%;
  }

  .tileStyle {
    font-size: 8px;
  }

  .tileSpan {
    padding-right: 5%;
    font-size: 5px;
  }

  .imageOverlayScreen {
    margin-top: 20%; 
    width: 60%;
    height: 30%;
  }
  .bingoBoxDiv {
    font-size: 1em;
  }
}

.confettiDiv {
  /* border: 1px solid red; */
  width: 50%;
  margin: 0 auto;
  top: 0;
  left: 0;
}